:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.image {
  width: 30vw;
  height: auto;
  margin-top: auto;
  padding-top: 20px ;
  padding-bottom: 20px;
  padding-left: 20px;  
}

.travelPlan{
  width: 70vw;
  height: auto;
  border: solid 1px white;
  border-radius: 3px;
  margin-top: 20 px;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-top: 20 px;
  margin: 20px;
  align-items: center;

}

.info{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
}

.labelGD{
  background-color: rgba(8, 124, 22, 0.87);
  text-align: center;
  color: aliceblue;
  width: auto;
  height: auto;
  border-radius: 2px;
}

.labelPremium{
  background-color: rgba(18, 12, 192, 0.87);
  text-align: center;
  color: aliceblue;
  width: auto;
  height: auto;
  border-radius: 2px;
}